In [34]:
student = {"name":"samin", "age":10, "id":112}
student

{'name': 'samin', 'age': 10, 'id': 112}

In [17]:
student = {"name":"samin", "age":10, "id":112, "id":12}
student

{'name': 'samin', 'age': 10, 'id': 12}

In [30]:
print(student["id"])
print(student["name"])
# print(student["last_name"]) aita error dibe
print(" ")

print(student.get("id"))
print(student.get("last_name"))
print(student.get("last_name", "Not available"))

112
samin

112
None
Not available

In [ ]:
print(student)

student["name"] = "S M Samin" #update
student["grade"] = "A" #add new key and value
del student["id"] # delete a key and value

student

{'name': 'samin', 'age': 10, 'id': 112}

{'name': 'S M Samin', 'age': 10, 'grade': 'A'}

In [36]:
keys = student.keys() # get all the keys
print(keys)

values = student.values() # get all the values
print(values)

pair = student.items() # get all the keys and values as pair or tuple
print(pair)

dict_keys(['name', 'age', 'grade'])
dict_values(['S M Samin', 10, 'A'])
dict_items([('name', 'S M Samin'), ('age', 10), ('grade', 'A')])

In [37]:
#Shallow copy

student_copy = student
print(student)
print(student_copy)

{'name': 'S M Samin', 'age': 10, 'grade': 'A'}
{'name': 'S M Samin', 'age': 10, 'grade': 'A'}

In [38]:
student["grade"] = "B"
print(student)
print(student_copy)

{'name': 'S M Samin', 'age': 10, 'grade': 'B'}
{'name': 'S M Samin', 'age': 10, 'grade': 'B'}

In [39]:
student_copy1 = student.copy()
student["age"] = 20
print(student)
print(student_copy1)

{'name': 'S M Samin', 'age': 20, 'grade': 'B'}
{'name': 'S M Samin', 'age': 10, 'grade': 'B'}

In [41]:
for key in student.keys():
    print(key)

name
age
grade

In [42]:
for value in student.values():
    print(value)

S M Samin
20
B

In [45]:
for key,value in student.items():
    print(f"{key}: {value}")

name: S M Samin
age: 20
grade: B

# Nested Dictionaries

In [46]:
students = {
    "s1":{"name":"Samin","age":25},
    "s2":{"name":"Masud","age":26},
}
students

{'s1': {'name': 'Samin', 'age': 25}, 's2': {'name': 'Masud', 'age': 26}}

In [47]:
print(students["s1"]["name"])
print(students["s2"]["age"])

Samin
26

In [50]:
for info in students:
    print(info)

s1
s2

In [56]:
for student,student_info in students.items():
    print(f"Student:{student} and Info:{student_info}")
    for key,value in student_info.items():
        print(f"Key:{key} and Value:{value}")
    print("")

Student:s1 and Info:{'name': 'Samin', 'age': 25}
Key:name and Value:Samin
Key:age and Value:25

Student:s2 and Info:{'name': 'Masud', 'age': 26}
Key:name and Value:Masud
Key:age and Value:26

# Dictionary Comprehension

In [57]:
sqr = {i:i**2 for i in range(1,6) }
sqr

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [59]:
even_sqr = {i:i**2 for i in range(1,6) if i % 2 != 0}
even_sqr

{1: 1, 3: 9, 5: 25}

Use a dictionary to count the frequency of elements in a list

In [72]:
lst = [1,2,2,3,3,3,4,4,4,4,4,5,5,6,7,7,7,9]
frequency = {}
for i in lst:
    if i in frequency:
        frequency[i]+=1
    else:
        frequency[i] = 1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 5, 5: 2, 6: 1, 7: 3, 9: 1}

In [76]:
dict1 = {"a":1,"b":2}
dict2 = {"b":3,"c":4}
merge_dic = {**dict1,**dict2}
print(merge_dic)

{'a': 1, 'b': 3, 'c': 4}