In [1]:
fruits = ["apple", "mango", "banana", "cherry", "guava"]
print(fruits)

['apple', 'mango', 'banana', 'cherry', 'guava']

In [18]:
fruits.append("watermelon")
fruits

['apple', 'mango', 'banana', 'cherry', 'guava', 'watermelon']

In [19]:
fruits.insert(1,"strawberry")
fruits

['apple', 'strawberry', 'mango', 'banana', 'cherry', 'guava', 'watermelon']

In [20]:
fruits.remove("guava")
fruits

['apple', 'strawberry', 'mango', 'banana', 'cherry', 'watermelon']

In [21]:
now=fruits.pop()
print(now)
print(fruits)

watermelon
['apple', 'strawberry', 'mango', 'banana', 'cherry']

In [22]:
index = fruits.index("mango")
index

2

In [24]:
fruits.insert(1, "banana")
fruits

['apple', 'banana', 'banana', 'strawberry', 'mango', 'banana', 'cherry']

In [25]:
fruits.count("banana")

3

In [27]:
fruits.sort()
fruits

['apple', 'banana', 'banana', 'banana', 'cherry', 'mango', 'strawberry']

In [28]:
fruits.reverse()
fruits

['strawberry', 'mango', 'cherry', 'banana', 'banana', 'banana', 'apple']

In [30]:
fruits.clear()
fruits

[]

In [20]:
numbers = [1, 2, 3, 4 ,5, 6, 7, 8, 9, 10]
print(numbers[:])
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[-5:-2])  # Output:  (Slicing from 5th-last to 3rd-last)
print(numbers[-1::-2]) # Output:  (Reversing with step of 2)
print(numbers[-2:-10:-1])
print(numbers[-11:-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 7, 8]
[10, 8, 6, 4, 2]
[9, 8, 7, 6, 5, 4, 3, 2]
[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [28]:
for index in enumerate(numbers):
    print(index[0])

0
1
2
3
4
5
6
7
8
9

In [27]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

## List Comprehension

In [ ]:
lst = []

for i in range(1,11):
    lst.append(i ** 2)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
sqr = [x ** 2 for x in range(1,11)]
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
lst3 = []

for i in range(1,11):
    if i % 2 == 0:
        lst3.append(i)
lst3

[2, 4, 6, 8, 10]

In [55]:
result = [i if i % 2 == 0 else "Odd" for i in range(1, 11)]
print(result)

['Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [ ]:
even = [i for i in range(1,11) if i % 2 == 0 else print("odd")]

In [47]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[j,i] for i in lst1 for j in lst2]
pair

[['a', 1],
 ['b', 1],
 ['c', 1],
 ['d', 1],
 ['a', 2],
 ['b', 2],
 ['c', 2],
 ['d', 2],
 ['a', 3],
 ['b', 3],
 ['c', 3],
 ['d', 3],
 ['a', 4],
 ['b', 4],
 ['c', 4],
 ['d', 4]]

In [2]:
words = ["hello", "samin", "welcome", "python"]
length = [len(word) for word in words]
length

[5, 5, 7, 6]