In [3]:
lst = list()
tup = tuple()
lst2 = []
print(type(lst))
print(type(lst2))
print(type(tup))

<class 'list'>
<class 'list'>
<class 'tuple'>

In [5]:
numbers = (1,2,3,4,5,6)
mixed_tuple = (7,"samin", True)
concatanation_tuple = numbers + mixed_tuple
print(numbers)
print(mixed_tuple)
print(concatanation_tuple)

(1, 2, 3, 4, 5, 6)
(7, 'samin', True)
(1, 2, 3, 4, 5, 6, 7, 'samin', True)

In [6]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

# Packing and unpacking

In [8]:
packing = 1, "hello", True
packing

(1, 'hello', True)

In [10]:
a,b,c = packing
print(a)
print(b)
print(c)

1
hello
True

In [11]:
numbers = (1,2,3,4,5,6)

first, *middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
lst = [[1,2,3],[4,5,6],["samin", "c", 3.23]]
print(lst)
print(lst[0])
print(lst[0][0:2])

[[1, 2, 3], [4, 5, 6], ['samin', 'c', 3.23]]
[1, 2, 3]
[1, 2]

In [27]:
nes_tup = ((1,2,3),(4,5,6),["samin", "c", 3.23])
print(nes_tup)
print(nes_tup[1][2])

((1, 2, 3), (4, 5, 6), ['samin', 'c', 3.23])
6

In [40]:
for i in nes_tup:
    for j in i:
        print(j, end=" ")
    print()

1 2 3
4 5 6
samin c 3.23